<div id="top">

</div>

<nav class="navbar-inverse">
    <a href="/"><img class="logo" src="./images/process/logo.png" alt=""></a>
    <div class="menu hidden-sm hidden-xs">
        <ul>
            <li><a href="/"><i class="navIcons fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="/about"><i class="navIcons fa fa-user" aria-hidden="true"></i></a></li>
            <li><a href="/skills"><i class="navIcons fa fa-wrench" aria-hidden="true"></i></a></li>
            <li><a href="/work"><i class="navIcons fa fa-id-badge" aria-hidden="true"></i></a></li>
            <li><a href="/contact"><i class="navIcons fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="socialMenu">
        <div class="socialMediaIcons hidden-xs">
            <ul>
                <li><a href="https://www.linkedin.com/in/jeremyneilson31/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/jeremy.neilson.5"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/jneilson31"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </div>
    
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- <div class="hamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div> -->
</nav>

<nav id="hamburgerMenu" class="navbar-inverse navbar2">
    <ul>
        <li><a href="/"><i class="navIcons fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/about"><i class="navIcons fa fa-user" aria-hidden="true"></i></a></li>
        <li><a href="/skills"><i class="navIcons fa fa-wrench" aria-hidden="true"></i></a></li>
        <li><a href="/work"><i class="navIcons fa fa-id-badge" aria-hidden="true"></i></a></li>
        <li><a href="/contact"><i class="navIcons fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
</nav>


