<div id="top">

</div>

<nav class="navbar-inverse">
    <a href="/"><p class="brand">Jeremy Neilson</p></a>
    <ul class="menu hidden-sm hidden-xs">
        <li><a href="/"><i class="navIcons fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/about"><i class="navIcons fa fa-user" aria-hidden="true"></i></a></li>
        <li><a href="/skills"><i class="navIcons fa fa-wrench" aria-hidden="true"></i></a></li>
        <li><a href="/work"><i class="navIcons fa fa-id-badge" aria-hidden="true"></i></a></li>
        <li><a href="/contact"><i class="navIcons fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- <div class="hamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div> -->
</nav>

<nav id="hamburgerMenu" class="navbar-inverse navbar2">
    <ul>
        <li><a href="/"><i class="navIcons fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/about"><i class="navIcons fa fa-user" aria-hidden="true"></i></a></li>
        <li><a href="/skills"><i class="navIcons fa fa-wrench" aria-hidden="true"></i></a></li>
        <li><a href="/work"><i class="navIcons fa fa-id-badge" aria-hidden="true"></i></a></li>
        <li><a href="/contact"><i class="navIcons fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
</nav>
