body{
	background-color: #222222;
	color: white;
}

.floatRight {
	float: right;
}

.changeColor {
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.6s ease-out;
	font-size: 106px;
}

h1 {
	font-size: 106px;
}