.contactForms, .contactFormMessage {
    display: block;
    background-color: rgba(128, 128, 128, 1.0);
    border: 1px solid transparent;
    width: 100%;
    margin: 15px auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Work Sans', Sans-Serif;
}

.contactFormMessage {
    height: 150px;
}

.contactForms::placeholder, .contactFormMessage::placeholder {
    color: #181818;
    padding: 0px;
}

.myContainer {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
}

.contactContainer {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.contactForms:focus, .contactFormMessage:focus, .primaryCTAbtn:focus {
    outline-color: transparent;
    /* border-left: 5px;
    border-radius: 5px;
    color: #181818; */
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav:nth-of-type(2) ul li {
    float: left;
    font-size: 20px;
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #66ff00;
    transition: all 0.3s ease-out;
}

.navbar-inverse {
    background-color: #181818;
    border-color: transparent;
    width: 100%;
    height: 60px;
}   

.hamburger {
    font-size: 30px;
    color: #fff;
    float: right;
    margin: 8px 16px;
    display: block;
}

.hamburger:hover {
    color: #66ff00;
}

.brand {
    float: left;
    font-size: 18px;
    margin: 15px 10px;
    color: #fff;
}

.navIcons {
    font-size: 20px;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #808080;
    transition: all 0.3s ease-out;
}

.headerBackground {
    background: #3d3d3d;
    padding: 16px 32px;
    margin: 80px 0px 24px 0px;
}
.headerTitle {
    color: #66ff00;
    font-family: 'Open Sans', Sans-Serif;
}

.headerDescription {
    font-family: 'work Sans', Sans-Serif;
    font-size: 14px;
}

.homeh1 {
    color: #fff;
}

.homeTextBox {
    position: absolute;
    top: 40%;
    left: 24px;
    font-family: 'Work Sans', Sans-Serif;
    Font-Size: 30px;
}

.homeTextBox span:nth-of-type(9) {
    margin-right: 10px;
}

.homeTextBox span:nth-of-type(16) {
    margin-right: 10px;
}

.homeTextBox span:nth-of-type(18) {
    margin-right: 10px;
}

.navbar2 {
	width: 100%;
    position: fixed;
    left: 100%;
    opacity: 0;
    margin-left: 0;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 60px;
    margin-top: 0;
    background: #181818;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navShow {
    left: 0;
    opacity: 1;
}

#hamburgerMenu a {
    position: relative;
    width: 100%;
}

.menu {
    position: fixed;
}

#hamburgerMenu .active a {
    color: #66ff00;
}

#hamburgerMenu .active .navIcons {
    opacity: 0;
}

#hamburgerMenu a:before {
    content: '';
    position: absolute;
    height: 60px;
    line-height: 60px;
    left: -15px;
    width: 50px;
    opacity: 0;
    font-size: 10px;
    display: inline-block;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}


#hamburgerMenu ul li:nth-of-type(1) a:before {
    content: 'Home';
}

#hamburgerMenu ul li:nth-of-type(2) a:before {
    content: 'About';
}

#hamburgerMenu ul li:nth-of-type(3) a:before {
    content: 'Skills';
}

#hamburgerMenu ul li:nth-of-type(4) a:before {
    content: 'My Work';
}

#hamburgerMenu ul li:nth-of-type(5) a:before {
    content: 'Contact';
}

#hamburgerMenu .active a:before {
    opacity: 1;
}

.submitBtn {
    float: right;
    background-color: #66ff00;
    color: #181818;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    width: 25%;
    font-family: "open sans";
}

.thumbnail {
    background-color: transparent;
    border: 1px solid #fff;
}

.workTitle {
    color: #fff;
    font-family: "work sans";


}
.viewPortfolioBtn {
    width: 200px;
    font-size: 20px;
    font-family: "open sans";
    letter-spacing: 1px;
    padding: 5px;
    background-color: #66ff00;
    color:#333333;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    position: relative;
}

.primaryCTAbtn {
    width: 200px;
    font-size: 20px;
    font-family: "open sans";
    letter-spacing: 1px;
    padding: 5px;
    background-color: #66ff00;
    color:#333333;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    position: relative;
}

.secondaryCTAbtn {
    width: 90%;
    font-size: 20px;
    font-family: "open sans";
    letter-spacing: 1px;
    padding: 5px;
    background-color: transparent;
    color:#66ff00;
    border: 1px solid #66ff00;
    border-radius: 5px;
    margin: 16px auto;
    display: block;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 4px;
    right: 0px;
    z-index:99;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #66ff00;
    border: none;
    font-size: 20px;
    float: right;
    padding: 6px;
    text-align: center;
}

#top {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

.backLogo {
    overflow: hidden;
}

.textContainer {
    width: 100%;
}

.logoWrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    opacity: 0.1;
    z-index: -5;
}

path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1200;
    opacity: 10;
    -webkit-animation: animate 3s cubic-bezier(0,0.23,1,.1);
    animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1200;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke: #66ff00;
        stroke-dashoffset: 1200;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
        stroke: #66ff00;
    }

    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

.box-wrapper {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

.box-wrapper.loading:nth-child(even) {
    transform: translate(150%);
    -webkit-transform: translate(150%);    
}

.box-wrapper.loading:nth-child(odd) {
    transform: translate(-150%);        
    -webkit-transform: translate(-150%);
}

