/* Navigation Bar Styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav:nth-of-type(2) ul li {
    float: left;
    font-size: 20px;
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #66ff00;
    transition: all 0.3s ease-out;
}

.navbar-inverse {
    background-color: #181818;
    border-color: transparent;
    width: 100%;
    height: 60px;
}   

.hamburger {
    font-size: 30px;
    color: #fff;
    float: right;
    margin: 10px;
    display: block;
}

.hamburger:hover {
    color: #66ff00;
}

.brand {
    float: left;
    font-size: 18px;
    margin: 15px 10px;
    color: #fff;
}

.navIcons {
    font-size: 20px;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: grey;
    transition: all 0.3s ease-out;
}

.homeh1 {
    color: #fff;
}

.homeTextBox {
    position: absolute;
    top: 40%;
    left: 24px;
    font-size: 28px;
    Font-Family: 'Work Sans', Sans-Serif;
    Font-Size: 30px;
}

.homeTextBox span:nth-of-type(9) {
    margin-right: 10px;
}

.homeTextBox span:nth-of-type(16) {
    margin-right: 10px;
}

.homeTextBox span:nth-of-type(18) {
    margin-right: 10px;
}

.navbar2 {
	width: 100%;
    position: fixed;
    left: 100%;
    opacity: 0;
    margin-left: 0;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 60px;
    margin-top: 0;
    background: #181818;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navShow {
    left: 0;
    opacity: 1;
}

#hamburgerMenu a {
    position: relative;
    width: 100%;
}

#hamburgerMenu .active a {
    color: #66ff00;
}

#hamburgerMenu .active .navIcons {
    opacity: 0;
}

#hamburgerMenu a:before {
    content: '';
    position: absolute;
    height: 60px;
    line-height: 60px;
    left: -15px;
    width: 50px;
    opacity: 0;
    font-size: 10px;
    display: inline-block;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}

#hamburgerMenu ul li:nth-of-type(1) a:before {
    content: 'Home';
}

#hamburgerMenu ul li:nth-of-type(2) a:before {
    content: 'About';
}

#hamburgerMenu ul li:nth-of-type(3) a:before {
    content: 'Skills';
}

#hamburgerMenu ul li:nth-of-type(4) a:before {
    content: 'My Work';
}

#hamburgerMenu ul li:nth-of-type(5) a:before {
    content: 'Contact';
}

#hamburgerMenu .active a:before {
    opacity: 1;
}

.viewPortfolioBtn {
    width: 55%;
    font-size: 20px;
    padding: 5px;
    background-color: #66ff00;
    color:#333333;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}


