/* Navigation Bar Styles */

.navbar-inverse {
    background-color: #181818;
    border-color: transparent;
    width: 100%;
    height: 60px;
}   

.hamburger {
    font-size: 30px;
    color: #fff;
    float: right;
    margin: 10px;
    display: block;
}

.hamburger:hover {
    color: #66ff00;
}

.brand {
    float: left;
    font-size: 18px;
    margin: 15px 10px;
    color: #fff;
}

.navIcons {
    font-size: 28px;
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

h1 {
     color: white;
     text-align: center;
}

.navbar2 {
	width: 100%;
    position: fixed;
    left: 100%;
    opacity: 0;
    margin-left: 0;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 60px;
    margin-top: 0;
    background: #181818;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navShow {
    left: 0;
    opacity: 1;
}

.active {
    color: #66ff00;
}
