<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <h1 class="caseStudyTitle">Band Rebrand</h1>
        </div>
    </div>

    <div class="myContainer">

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Tools Used on this Project</div>
            <ul>
                <li><span>Adobe Photoshop</span></li>
                <li><span>Adobe Illustrator</span></li>
            </ul>
        </div>

        <h1 class="headerWork">The Project</h1>
        <p>For this school project we had to choose one of our favorite bands and essentially "rebrand" them with a poster. We were
            asked to not use any of the bands actual logos but to come up with different ways to visually define them. This is what
            I came up with for Angels & Airwaves (AvA). Overall I'm very happy with the whole project and how it turned out. I came
            up with something I'd be proud of to hang up in my room and call my own.</p>
            
        <h1 class="headerWork">Final Result</h1>
        <div class="imgRow">
            <img class="col-xs-12 img-responsive imgProp" src="./images/bandrebrand/avaPoster.png" alt="">
        </div>
        <h6 class="copyrightType">February &copy; 2017</h6>
        <hr>
    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>