<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="socialMenu hidden-xs hidden-sm">
        <div class="socialMediaIcons">
            <ul>
                <li><a href="https://www.linkedin.com/in/jeremyneilson31/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/jeremy.neilson.5"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/jneilson31"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="myContainer">


        <div class="headerBackgroundAbout active">
        
            <h1 class="headerTitle">Contact Me</h1>
            <p class="headerDescription">If you got questions, I got answers, possibly... Drop me a line and ask me anything!</p>
        
        </div>

        
        <form action="/contact" method="post" role="form">
            <div class="row">
                <div class="col-sm-6">
                    <input class="contactForms box-wrapper loadContact" type="text" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6">
                    <input class="contactForms box-wrapper loadContact" type="text" name="email" placeholder="Email">
                </div>
                <div class="col-sm-12">
                    <input class="contactForms box-wrapper loadContact" type="text" name="subject" placeholder="Subject">
                </div>
                <div class="col-sm-12">
                    <textarea name="message" class="contactFormMessage box-wrapper loadContact" placeholder="Message" cols="30" rows="10"></textarea>
                </div>
            </div>           
            <button class="submitBtn box-wrapper loadContact" type="submit">Send</button>
        </form>

        

    </div>




</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>