<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="myContainer">


        <div class="headerBackgroundAbout active">
        
            <h1 class="headerTitle">Contact Me</h1>
            <p class="headerDescription">If you got questions, I got answers, possibly... Drop me a line and ask me anything!</p>
        
        </div>

        
        <form action="/contact" method="post" role="form">
            <div class="row">
                <div class="col-sm-6">
                    <input class="contactForms box-wrapper loading1" type="text" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6">
                    <input class="contactForms box-wrapper loading2" type="text" name="email" placeholder="Email">
                </div>
                <div class="col-sm-12">
                    <input class="contactForms box-wrapper loading1" type="text" name="subject" placeholder="Subject">
                </div>
                <div class="col-sm-12">
                    <textarea name="message" class="contactFormMessage box-wrapper loading2" placeholder="Message" cols="30" rows="10"></textarea>
                </div>
            </div>           
            <button class="submitBtn box-wrapper loading2" type="submit">Send</button>
        </form>

        

    </div>




</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>