<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <h1 class="caseStudyTitle">Eggscape</h1>
        </div>
    </div>

    <div class="myContainer">

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Tools Used on this Project</div>
            <ul>
                <li><span>Adobe Photoshop</span></li>
                <li><span>Adobe Illustrator</span></li>
                <li><span>Adobe After Effects</span></li>
            </ul>
        </div>

        <h1 class="headerWork">The Project</h1>
        <p> This project is an animated short film that I put together. There is a lot that goes into every animation. Part of this process included the following:
            coming up with the initial idea, sketching and storyboarding, creating all the different illustrations that were used in the illustration, and the actual animation
            itself. The animation follows around a duck and his many attempts at breaking free from his shell. Everything that you see 
            in the animation short was done by me.</p>
        <p> This was an extremely fun project to do and I'm very happy with the final result but it also had it's difficulties.
            Animations are very time consuming and it's very hard to stay organized with all the many assets one needs to complete
            the process. Organization was key in completing this project. Storyboarding helped a ton with this aspect. It's a guideline
            on what needs to be done next so that it all flows smoothly. Labeling all the assets properly was also very important
            so that I could easily find the exact asset I needed for each scene or part of the scene.</p>
        <p> Time restraints were also a difficult task. Since this was a school project it also had a due date. Working under pressure isn't always ideal but
            it is realistic as most jobs have a due date. Staying organized and planning the many different parts was essential in
            getting this project completed in a timely manner and to produce something that I can be proud of.</p>

        <h1 class="headerWork">The Storyboards</h1>
        <p>Storyboards are crucial for any animation. Much like wireframes in UX Design, the storyboards give you a sense of direction
            and how the project is going to be laid out. It allows you to do the animation in a way that is more organized and more
            effective. Without them the project would be a lot harder to navigate through. The storyboards allow you to figure out
            ahead of time all the assets that are needed so nothing (or most everything) is not forgotten. You can continue to polish
            the project the more you dive in to it to make the higher fidelity portion of the animation.</p>

        <div class="imgRow">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB1.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB2.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB3.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB4.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB5.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB6.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB7.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB8.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB9.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB10.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB11.jpg" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/eggscape/SB12.jpg" alt="">
        </div>
        <hr>
        <h1 class="headerWork">Final Animation</h1>
        
        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/X7N2n9aFITg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                align="center"></iframe>
        </div>
        <h6 class="copyrightType">Eggscape &copy; 2016</h6>
        <hr>
    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>