<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <a href="/1800rma"><i class="fa fa-angle-left additionalWorkArrow leftArrow" aria-hidden="true"></i></a>

            <h1 class="caseStudyTitle">MNN</h1>

            <a href="/centsible"><i class="fa fa-angle-right additionalWorkArrow rightArrow" aria-hidden="true"></i></a>

        </div>
    </div>

    <div class="myContainer">
        <h1 class="headerWork">The Challenge</h1>
        <p>Maybe you heard what happened last night, maybe you didn't. Maybe it took you a little longer than you wanted or maybe
            you missed an important article all together. Millennials, just like most, want to be up to date with what's going on
            around them. The problem millennials face is just that, the amount of time that it often takes to read the news in it's
            entirety.</p>

        <p>"Millennial News Network" or MNN is the largest syndicate of breaking news and other news worldwide. They've asked me
            to rethink the news experience for their site (desktop). They asked us to design a compelling news site for today's generation
            of news consumers. They encouraged us to try and figure out exactly how millennials consume and share content. MNN doesn't
            want to be dogmatic about "how they've always done things." Millennial News Network wants to break new ground, they want
            this new site to take a few risks and they're counting on us to bring change to the industry. The following was the result
            of the case study.</p>
        <hr>
        <div class="processHeader">
            <img class="img-responsive progressImg" src="./images/process/empathize.png" alt="">
        </div>
        <hr>
        <h1 class="headerWork">Empathize</h1>
        <p>Empathy is defined as the ability to understand and share the feelings of another. It is an important step with the user
            experience that should not be forgotten. If we do not understand who we are designing for, it is very difficult to succeed
            with the user experience. With our tasks at hand, we had to empathize with our age group to fully understand how they
            consumed their news. We first started out with writing out a list of assumptions.</p>

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Assumptions</div>
            <ul>
                <li><span>Millennials like to skim articles.</span></li>
                <li><span>Article's headlines determine if the user will read it or not.</span></li>
                <li><span>Actual news sites are rarely visited, if at all.</span></li>
                <li><span>Images and videos enhance the user experience.</span></li>
                <li><span>If the article is too long, readers will not read the article in full.</span></li>
                <li><span>People depend on social media sites for their news.</span></li>
                <li><span>People don't like the ads, and would rather not see them.</span></li>
            </ul>
        </div>
        <p>After the list we set out to see if our assumptions were correct. Being a millennial myself this was an easier task as
            I know how I personally consume the news. However, I am just one millennial,and there are many more. Apart from analyzing
            ourselves, we interviewed millennials to see how they consumed their news. We wanted to also see what pain points they
            might have with getting it.</p>
            
        <p>Once we completed our interviews we came together to discuss our findings. We compiled all our interview findings into
            one document so that we could see commonalities and patterns that our millennials shared on what they needed and how
            they wanted to consume their news. We downloaded and researched some top news apps to see what they were doing right
            and read reviews on what they might be able to improve.</p>
        <hr>
        <div class="processHeader">
            <img class="img-responsive progressImg" src="./images/process/define.png" alt="">
        </div>
        <hr>
        <h1 class="headerWork">Define</h1>
        <p>Once we were able to empathize and interview many of our eventual users, we felt we had enough of an understanding to
            define exactly what we wanted to create. There were several things that stood out to us but we made a list of some 'Key Findings.' Below are the things we felt were more important in our research. It was these findings which
            would most likely lead us to the success of our website.</p>

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Key Findings</div>
            <ul>
                <li><span>Millennials wanted to customize the news according to their interests.</span></li>
                <li><span>News ads were distracting and took them out of the experience.</span></li>
                <li><span>Users didn't always have a ton of time, they often wanted a quick read.</span></li>
                <li><span>Visuals enhanced the user experience.</span></li>
                <li><span>People depend on social media sites for their news.</span></li>
                <li><span>Though they wanted a quick read, they wanted to be well informed to be involved with social interactions and caught up to
                speed with everything.</span></li>
            </ul>
        </div>

        <p>With our research and key findings, we created a persona. This also allowed us to keep our end user in mind throughout
            the whole process. We would often refer to our persona Cade West. We wanted to make sure we were sticking to the needs
            of our user. This was to keep us on the correct path according to what we had defined. With that in mind we knew we had
            to come up with a web application that allowed our users to save time. Time is extremely valuable to our users, as it
            is to anyone. This lead our design and was a foundation to our project. We knew if we could not save users time our app
            would be another app they would not want.</p>

        <img class="imgProp img-responsive progressImg progressImg" src="./images/mnn/mnnpersona.png" alt="">

        <hr>

        <div class="processHeader">
            <img class="img-responsive progressImg" src="./images/process/ideate.png" alt="">
        </div>
        <hr>
        <h1 class="headerWork">Ideate</h1>
        <p>After defining our users needs and insights, it was time to brainstorm some creative solutions for the problem. We knew
            there were several pain points we wanted to figure out how to tackle. The biggest pain point we needed to tackle was
            saving our users time. How were we going to save their time? Articles often have a ton of information. Information in
            some articles is essential and pertinent to the story itself. Some information is important but could be done away with,
            and some of the information is just a cherry on top. It might pertain to the story but the story doesn't change with
            or without it. When all the information is put together, it makes a story. A lot of our users liked to read the articles
            in their entirety, but most of the users just wanted the important information.</p>

        <p>We chose to keep the full articles for those users that wanted to read them in their entirety. Though with our users end
            goal in mind, to save time, I came up with a TL;DR (Too Long; Didn't Read) function. This ended up being our primary
            focus on the app. The TL;DR function allows readers to get the essential information of an article in just a couple sentences.
            This allowed our customers to save time, and to be well informed within seconds.</p>
        
        <p>Below is what the TL;DR button would look like with a brief description of what it is for our users.</p>

        <img class="imgProp img-responsive" src="./images/mnn/tldrbutton.png" alt="">

        <p>There were also a few other things that we did to offer time saving abilities. This did include creating an account.
            By doing so our users can customize their home feed and set preferences on what they'd like to view. It was important
            to get our users to create an account so that we could save this information for each time they logged in. On top of
            customizing their home feed, we gave an up vote and down vote option to each article. The more up votes the article receives
            the higher up on your feed it will go. This makes it so that you are reading popular and relevant news first without
            having to browse for long.</p>

        <p>Creating the account also allows our users to bookmark articles. This way if they are running low on time it will be
            saved for later. There they can easily access the articles when they have some downtime to read them. Our users can also
            set preferences as to the days and times they'd like to receive notifications. This way they aren't missing out on any
            news.</p>

        <h1 class="sectionTitle">Business vs Customer</h1>
        <p>The next task we had to take on was that of ads. Our users hated ads, but, from a business standpoint ads are important.
            They can be very lucrative and our project manager insisted that we didn't do away with ads. My group and I set out to
            find a way to include ads which also wouldn't have a negative impact with the experience for our users. We set out to
            see how different social media sites and news apps included their ads. While reviewing a few apps I was looking at my
            Instagram feed and had barely noticed that I had scrolled past a few ads. I wasn't taken out of the experience at all
            as it looked like any other picture but they were included. I felt this would be the best way to incorporate our ads
            and we added them in our article feeds.</p>

        <h1 class="sectionTitle">Where do we go from here?</h1>
        <p>Once we felt like we got some good ideas for our app, we created a user story map and determined what our minimum viable
            product would be with our project manager. We included pages we needed to get a better sense of direction. It helped
            to stay organized and helped us lay out the different components we wanted on each page. Below is the story map that
            I built to begin with.</p>

        <img class="imgProp img-responsive progressImg" src="./images/mnn/userstorymap.jpg" alt="">

        <p>After creating the story map it was time to start discovering the layout and design. We started off with our handy pens
            and paper and started to establish the structure. We started out with low fidelity grayscale mockups. This was so that
            we could test the functionality of the overall site without distracting people with the colors. Once we tested the mock-ups
            with some of or users we got some good feedback on our first iteration.</p>

        <p>There were some layout issues with spacing and how we laid out our articles. Arguably our most important feature, the
            TL;DR, wasn't viewed as an actual call to action button. It was mistaken for our logo and not something that could be
            clicked. We knew we had to make our TL;DR more visible as that was our main focus for the app and for our user. Below
            are some images of some low fidelity mock-ups that we started with and built upon those towards our final app. Of course,
            taking into consideration the feedback we received and implementing that.</p>

        <img class="imgProp img-responsive" src="./images/mnn/mnnwireframes.png" alt="">

        <h1 class="sectionTitle">Colors and Fonts</h1>
        <p>Once we tested the first couple iterations in grayscale and addressed some of the functionality issues we had we decided
            to talk about our colors. We made higher fidelity mock-ups so we could eventually get to the prototyping stage and test
            it out some more. We messed around with a lot of color palettes. We tried using some gradients, and multiple color combinations,
            but we found that by doing so it made the app feel more cluttered. Thinking back on our user, they didn't like the clutter,
            and that was something that we wanted to omit. Ultimately we chose to keep our palette really basic. We chose one color
            which would be our 'call to action' color and the rest is kept in mostly black and white, with a dark gray.</p>

        <p>Doing it this way proved to be the way to go. The black and white combination provided plenty of contrast. Readers will
            appreciate this when reading multiple articles. Overall it is a cleaner look and resembles more of a newspaper type feel.
            Afterall, we are a news website. With our website being word and content heavy we elected to choose simple texts which
            are very easy to read. As for the 'call to action' color we chose a brighter color to grab our users attention to important
            features, namely the TL;DR feature we have. In gray scale mock-ups, this feature was missed a lot so we had to make it
            pop more. We laid drop shadows behind it and made it look more like a clickable button. Through our testing we discovered
            that this helped a lot and more of our users used it.</p>

        <img class="imgProp img-responsive" src="./images/mnn/colorscheme.png" alt="">

        <h1 class="sectionTitle">Onboarding Experience</h1>

        <p>We struggled with the idea of making people sign up for our Millennial News App. From our interviews we know that some
            people can be weary of putting in information. Ultimately we decided to give them the option but we needed an account
            to meet our users needs as well. Our users wanted a way to customize their home page, comment and share articles with
            their friends. We also wanted to give them relevant news based on up votes and down votes. All these needs required us
            to have an account to save these settings. We provide an easy way to create the account through social media, or their
            email.</p>

        <p>If they choose not to sign up right away they can still browse through our app and read full articles, but, they are limited
            in their interactions. They won't be able to comment on articles, up vote/down vote articles or customize their home
            page. They are prompted to create the account if they wish to take part in those features of our app. The quick onboarding
            experience shows them these benefits and features. Our TL;DR function is also shown and they are walked through the first
            time the app is downloaded.</p>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                <img class="imgProp img-responsive" src="./images/mnn/onboarding1.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-4">
                <img class="imgProp img-responsive" src="./images/mnn/onboarding2.png" alt="">
            </div>
        </div>


        <hr>
        <img class="img-responsive progressImg" src="./images/process/prototype.png" alt="">
        <hr>
        <h1 class="headerWork">Prototype</h1>
        <p>Once we had laid down the foundation of our app and dressed it up a little bit we were ready to build the prototype and
            get a more polished version into the hands of our users. We wanted to test it out some more (you can never do too much
            testing) so that we could see if our adjustments that we had made from previous suggestions and iterations had improved
            the app at all.</p>
        
        <p>The prototype was built using Marvel. You can interact with it and get a feel for what it would be like to be a user of
            the MNN app! We were able to use this design on many of our users and got some more feedback that we can put in place
            on future iterations as this app develops more. Try it out!</p>
        

        <!-- Visual Prototype -->
        <div class="videoWrapper hidden-xs hidden-sm">
            <iframe src="https://marvelapp.com/3e7i906?emb=1&iosapp=false&frameless=false" width="452" height="901" allowTransparency="true"
                frameborder="0"></iframe>
        </div>

        <a class="hidden-lg" target="_blank" href="https://marvelapp.com/3e7i906?emb=1&iosapp=false&frameless=false"><button class="secondaryCTAbtn"><span>View
                    Prototype</span></button></a>

        <hr>
        <img class="img-responsive progressImg" src="./images/process/test.png" alt="">
        <hr>
        <h1 class="headerWork">Test</h1>
        <p>Through testing you are able to develop your app and empathize even that much more with your users as you are able to
            see how they react with your more polished product, our testing proved very beneficial. Through testing we found a few
            issues that we were able to resolve early on in the developing process. Even before we spent countless hours making a
            high fidelity mock-up. This not only saved us a lot of time but allowed us to develop a better app according to our users
            needs. Here are just a few things we found out about through testing.</p>

        <h1 class="sectionTitle">TL;DR Feature</h1>
        <p>Our TL;DR feature or Too Long Didn't Read feature was not very visible and it was missed almost every time. The call
            to action button looked more like our logo than a button. Testing was a great time to figure this out as this was our
            "bread and butter" if you will.</p>

        <h1 class="sectionTitle">Trouble with Wording</h1>
        <p>We had a few instances where wording was confusing for our users during the testing phase. Initially we had a favorites
            feature and a bookmarked feature. To us the difference seemed obvious. Favorites were articles you liked, something you
            might want to refer to at some point down the road. Bookmarks were more of a placeholder. Something you could pull up
            later that night when you had more time to read. This wasn't the case for our users. Everyone we tested it on had the
            same question... What's the difference?</p>

        <h1 class="sectionTitle">Thumbs Up, Thumbs Down</h1>
        <p>In our early versions of the app we had a thumbs up and thumbs down feature on whether or not you liked the article.
            Through testing and feedback we quickly learned that users might be uncomfortable on what they are 'thumbs-upping'. What
            if the story was tragic or devastating? Our users felt as if they were liking something tragic. To steer away from that
            we went with an up arrow and a down arrow. To eliminate any further confusion we explained in our onboarding process
            that if you thought an article was important then you would up vote it to make it become more popular. The more up votes
            the more important it is to users the higher up on the list it is. This eliminated some uneasiness that some of our users
            experienced.</p>

        <hr>
        <img class="img-responsive progressImg" src="./images/process/conclusion.png" alt="">
        <hr>
        <h1 class="headerWork">Conclusion</h1>
        <p>So, did you hear what happened in the news last night? My hope would be is to say that you did, after all, through our
            TL;DR (Too Long; Didn't Read) feature you can get all the information you need to know within seconds. You can feel informed
            and save time. This app met two of our users biggest needs. I'm happy with the outcome so far in what we have come up
            with. It's not perfect by any means and it will continue to develop as the users' needs change. I think that is what appeals
            to me as a UX Designer, things are constantly developing. It is fun to progress with the app and to always find the best
            user experience. Overall, this was a successful case study.</p>

        <hr>
        <img class="img-responsive imgProp" src="./images/mnn/mnnscreens2.png" alt="">
        <hr>

        <h1 class="additionalWorkTitle">Additional UX Case Studies</h1>
        <div class="row">
            <div class="col-sm-4 col-6">
                <a href="/1800rma"><button class="additionalWorkCTAbtn">1800Contacts</button></a>
            </div>
            <div class="col-sm-4 col-6">
                <a href="/divvypay"><button class="additionalWorkCTAbtn">Divvy</button></a>
            </div>
            <div class="col-sm-4 col-12">
                <a href="/centsible"><button class="additionalWorkCTAbtn">Centsible</button></a>
            </div>
        </div>
        <hr>

    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>