<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="myContainer">

        <div class="headerBackgroundAbout active">
        
            <h1 class="headerTitle mySkillsHeader loading">Skills</h1>
        
            <p>My main skill set is in that of UX Design but I love everything that has to do with web development. Apart from focusing
                on UX, I have also been focused on Front End development where I have learned HTML, CSS, and some Javascript
                and jQuery.</p>

            <p> Web developement is something that is always changing (which is what entrigues me the most). It would be easy to fall behind but I love to learn
                and will always have a continued desire to continue learning as much as I can and to never stop. Making this a great field to be in.</p>
        
            <p>Below are some, but not all, of the skills I have developed through schooling, work, and personal progress that I
                think are important and would make me successful in this field of work. You are always welcome to <a id="contactAnchor" href="/contact">
                contact me</a> more if you have any other questions for me!</p>
        
            <div class="row">
                <div class="skills-col-4">
                    <div class="skillsThumbnails1">UX Design</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails1">Visual Design</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails1">Animation</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails2">Sketch</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails2">Invision / Marvel</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails2">User Research</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails3">User Story Maps</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails3">Interaction Design</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails3">Adobe Photoshop</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails4">Adobe Illustrator</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails4">Adobe After Effects</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails4">Adobe Creative Suite</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails5">Wireframing</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails5">Prototyping</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails5">HTML 5</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails6">CSS 3</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails6">Responsive Web Design</div>
                </div>
                <div class="skills-col-4">
                    <div class="skillsThumbnails6">Usability Testing</div>
                </div>
        
            </div>
        </div>

    </div>

    

    
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>
<script src="scripts/js/bootstrapJS/bootstrap.js"></script>


</html>