<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <h1 style="font-size:28px" class="caseStudyTitle">The Master's Hand</h1>
        </div>
    </div>

    <div class="myContainer">

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Tools Used on this Project</div>
            <ul>
                <li><span>Adobe Photoshop</span></li>
                <li><span>Adobe Illustrator</span></li>
            </ul>
        </div>

        <h1 class="headerWork">The Project</h1>
        <p>For this school project we were given the task of doing a surrealistic picture. Surrealism combines a dream like state
            which can also be very realistic. I chose to do a picture entitled, The Master's Hand. It portrays a beautiful girl being
            controlled by her master. This project consisted of photographing multiple images, editing, and manipulating each one
            of them and then combining them to make one cohesive image. </p>

        <h1 class="headerWork">Final Result</h1>
        <div class="imgRow">
            <img class="col-xs-12 img-responsive imgProp" src="./images/themastershand/mastershand.png" alt="">
        </div>
        <h6 class="copyrightType">April &copy; 2017</h6>
        <hr>
    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>