<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <h1 class="caseStudyTitle">War on Tartar</h1>
        </div>
    </div>

    <div class="myContainer">

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Tools Used on this Project</div>
            <ul>
                <li><span>Adobe Photoshop</span></li>
                <li><span>Adobe Illustrator</span></li>
                <li><span>Adobe After Effects</span></li>
            </ul>
        </div>

        <h1 class="headerWork">The Project</h1>
        <p>For this school project we had to do an animated short of an everyday activity. I chose brushing your teeth as my everyday
            activity but let's be honest.. who would want to watch just a plain animation of someone brushing their teeth? Not me.
            I put a spin on this everyday activity to make it fun.</p>

        <h1 class="headerWork">The Storyboards</h1>
        <p>Storyboards are crucial for any animation. Much like wireframes in UX Design, the storyboards give you a sense of direction
            and how the project is going to be laid out. It allows you to do the animation in a way that is more organized and more
            effective. Without them the project would be a lot harder to navigate through. The storyboards allow you to figure out
            ahead of time all the assets that are needed so nothing (or mostly everything) is not forgotten. You can continue to polish
            the project the more you dive in to it to make the higher fidelity portion of the animation.</p>

        <div class="imgRow">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB1.png" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB2.png" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB3.png" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB4.png" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB5.png" alt="">
            <img class="col-xs-6 img-responsive imgProp" src="./images/warontartar/SB6.png" alt="">
        </div>
        <hr>
        <h1 class="headerWork">Final Animation</h1>

        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/0A34zishdh8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h6 class="copyrightType">War on Tartar &copy; February 2017</h6>
        <hr>
    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>