<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackgroundAbout active">
        <div class="caseStudyBox">
            <h1 class="caseStudyTitle">Wedding Invites</h1>
        </div>
    </div>

    <div class="myContainer">

        <div class="disclaimerBox">
            <div class="disclaimerTitle">Tools Used on this Project</div>
            <ul>
                <li><span>Adobe Photoshop</span></li>
                <li><span>Adobe Illustrator</span></li>
            </ul>
        </div>

        <h1 class="headerWork">The Project</h1>
        <p>I was asked to design a wedding invitation. On top of the actual wedding invitations I provided additional informational
            cards for wedding ceremony invites, and wedding dinner invites. I designed and helped to assemble the wedding invitations
            to come together as one.</p>

        <h1 class="sectionTitle">The Individual Parts</h1>
        <div class="imgRow">
            <img class="col-xs-6 imgProp img-responsive" src="./images/weddinginvites/w1.png" alt="">
            <img class="col-xs-6 imgProp img-responsive" src="./images/weddinginvites/w2.png" alt="">
            <img class="col-xs-6 imgProp img-responsive" src="./images/weddinginvites/w3.png" alt="">
            <img class="col-xs-6 imgProp img-responsive" src="./images/weddinginvites/w4.png" alt="">
        </div>
        <hr>

        <h1 class="headerWork">Final Result</h1>
        <div class="imgRow">
            <img class="col-xs-12 img-responsive imgProp" src="./images/weddinginvites/combinedweddinginvite.png" alt="">
        </div>
        <h6 class="copyrightType">August 2016</h6>
        <hr>
    </div>
    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>