<!DOCTYPE html>
<html>

<head>
    <% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>

    <div class="headerBackground">

        <div class="myContainer">

            <h1 class="headerTitle">UX Case Studies</h1>
            
            <p class="headerDescription">Below you will see some case studies I've done to show my UX process. I hope you enjoy.. I know
                I have!</p>
        </div>

    </div>

    <div class="myContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper ">
                    <h1 class="workTitle">Divvy</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/divvythumb.png" alt="">
                        <a href="/divvypay"><button class="primaryCTAbtn">View Case Study</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper ">
                    <h1 class="workTitle">1-800Contacts</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/rmascreensthumb.png" alt="">
                        <a href="/1800rma"><button class="primaryCTAbtn">View Case Study</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper ">
                    <h1 class="workTitle">Millenial News Network</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/mnnscreensthumb.png" alt="">
                        <a href="/mnn"><button class="primaryCTAbtn">View Case Study</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper ">
                    <h1 class="workTitle">Centsible</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/centsiblescreensthumb.png" alt="">
                        <a href="/centsible"><button class="primaryCTAbtn">View Case Study</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="headerBackground">

        <div class="myContainer">

             <h1 class="headerTitle">Other Design Work
            </h1>
            
            <p class="headerDescription">Below are just a few other projects I have done to showcase some of my own design elements.</p>

        </div>


    </div>

    <div class="myContainer">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">Eggscape</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/eggscapethumb.png" alt="">
                        <a href="/eggscape"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">Band Rebrand</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/avaposterthumb.png" alt="">
                        <a href="/bandrebrand"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">Typography</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/typographythumb.png" alt="">
                        <a href="/typography"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">The Master's Hand</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/mastershandthumb.png" alt="">
                        <a href="/themastershand"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">War on Tartar</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/warontartarthumb.png" alt="">
                        <a href="/warontartar"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="box-wrapper">
                    <h1 class="workTitle">Wedding Invitations</h1>
                    <div class="thumbnail">
                        <img src="./images/homeThumbnails/dandkweddinginvitesthumb.png" alt="">
                        <a href="/weddinginvites"><button class="primaryCTAbtn">View Project</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#topWork"><i id="scrollBtn" class="fa fa-angle-double-up" aria-hidden="true"><span id="top">Top</span></i></a>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="scripts/js/aucona.js"></script>

</html>